@import "libs/normalize.scss";
@import "libs/border-box.scss";
@import "libs/colors.scss";
@import "libs/media.scss";

body {
    font-family: 'Josefin Sans', sans-serif;

    background-color: $background-color;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;

    margin-bottom: 25px;

    background: linear-gradient(to right, #e39f5f, #df7b61, #cf5b6c, #b0447b, #803a87);

    border-radius: 0 0 10px 10px;

    & p {
        margin: 0;

    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;

    margin-top: 25px;

    background: linear-gradient(to right, #e39f5f, #df7b61, #cf5b6c, #b0447b, #803a87);

    border-radius: 10px 10px 0 0;

    & p {
        margin: 0;

    }
}

main {
    @include media("large") {
        display: flex;
    }
}

.logo {
    width: 100px;
    height: auto;

    margin: 10px 0 30px 30px;

    @include media("small") {
        width: 315px;

        margin: 55px 0;
    }

    @include media("large") {
        width: 150px;

        margin: 0 0 50px 0;
    }
}

.brand-img {
    &_mobile {
        width: 100%;

        @include media("small") {
            display: none;
        }
    }

    &_desktop {
        display: none;

        @include media("large") {
            display: unset;
        }
    }
}

.content {

    @include media("small") {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    @include media("large") {
        padding: 65px 165px 65px 211px;

        align-items: unset;
    }

    &-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media("large") {
            align-items: flex-start;
        }
    }

    &-title {
        margin-bottom: 0;

        text-align: center;
        text-transform: uppercase;

        font-size: 40px;
        font-weight: 600;

        letter-spacing: 9px;

        color: $black-text;

        @include media("large") {
            text-align: start;
            font-size: 75px;
            letter-spacing: 20px;
        }

        & span {
            font-weight: 300;

            color: $pink-text;
        }
    }

    &-message {
        margin: 20px 0 25px 0;

        width: 80%;

        line-height: 1.5;

        text-align: center;
        font-size: 14px;

        color: $pink-text;

        @include media("large") {
            text-align: start;
            font-size: 18px;
            width: 100%;
        }
    }
}

.email-box {
    width: 80%;

    @include media("large") {
        width: 100%;
    }
}

.form-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 25px;
    border: solid 2px hsl(0, 36%, 70%, 0.5);
    height: 50px;
    border-radius: 25px;

    & input {
        border: none;
        outline: none;

        height: 100%;

        color: $black-text;
        background-color: $background-color;

        font-size: 14px;

        margin-left: 20px;

        @include media("large") {
            font-size: 18px;
        }
    }

    ::placeholder {
        color: $pink-text;
        opacity: 0.5;
    }

    & button {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        width: 70px;
        height: 50px;

        border: none;
        border-radius: 25px;

        margin-right: -3px;

        background: $btn;

        transition: 0.6s ease;

        &:hover {
            background: $btn-hover;

            box-shadow: 0px 6px 20px 0px $pink-text;
        }

        @include media("large") {
            width: 90px;
        }
    }
}